@model ClaysysLearningPortal.Models.Users



@{
    var username = User.Identity.Name;
}

@{
    Layout = "_LayoutStudent";
}

<body class="">
    <div class="container text-center my-5">

        @if (TempData["InfoMessage"] != null)
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                @TempData["InfoMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        else if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        else if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <h1 class="display-4 mb-4">Welcome @username</h1>

    <div id="course-list" class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Courses will be loaded here dynamically -->

    </div>
</div>
</body>

@section Scripts {
    <script src="~/js/loadcoursebycategory.js"></script>
}
@section Styles {
    <link href="~/css/home.css" rel="stylesheet" />
    }